### Mappings
#
set $browser firefox | xargs swaymsg exec --
set $terminal urxvt
set $messenger firefox --new-window https://messenger.com

bindsym --no-warn $mod+Shift+r reload
bindsym --no-warn $mod+b exec $browser
bindsym --no-warn $mod+Return exec $terminal
bindsym --no-warn $mod+m exec $messenger
