
# The ~/.Xresources should contain a line such as
#     *color0: #121212
# and must be loaded properly, e.g., by using
#     xrdb ~/.Xresources
# This value is picked up on by other applications (e.g., the URxvt terminal
# emulator) and can be used in i3 like this:
# set_from_resource $black i3wm.color0 #1f1f1f
# set_from_resource $red i3wm.color1 #fb002a
# set_from_resource $green i3wm.color2 #339c24
# set_from_resource $orange i3wm.color3 #659b25
# set_from_resource $blue i3wm.color4 #149b45
# set_from_resource $purple i3wm.color5 #53b82c
# set_from_resource $cyan i3wm.color6 #2cb868
# set_from_resource $grey i3wm.color7 #e0ffef
# set_from_resource $darkgrey i3wm.color8 #032710
# set_from_resource $lightred i3wm.color9 #a7ff3f
# set_from_resource $lightgreen i3wm.color10 #9fff6d
# set_from_resource $yellow i3wm.color11 #d2ff6d
# set_from_resource $lightblue i3wm.color12 #72ffb5
# set_from_resource $lightpurple i3wm.color13 #50ff3e
# set_from_resource $turquoise i3wm.color14 #22ff71
# set_from_resource $white i3wm.color15 #daefd0
