# variables
set $browser firefox | xargs swaymsg exec --
set $terminal urxvt
set $messenger firefox --new-window https://messenger.com
set $email firefox --new-window https://mail.google.com/mail/u/0/#inbox

# mappings
bindsym --no-warn $mod+Shift+r reload
bindsym --no-warn $mod+b exec $browser
bindsym --no-warn $mod+Return exec $terminal
bindsym --no-warn $mod+m exec $messenger
bindsym --no-warn $mod+n exec $email
