hide_edge_borders smart_no_gaps
smart_borders on

# The ~/.Xresources should contain a line such as
set $color0 #1F1F1F
set $color8 #032710

# red
set $color1 #FB002A
set $color9 #A7FF3F

# green
set $color2 #339C24
set $color10 #9FFF6D

# yellow
set $color3 #659B25
set $color11 #D2FF6D

# blue
set $color4 #149B45
set $color12 #72FFB5

# magenta
set $color5 #53B82C
set $color13 #50FF3E

# cyan
set $color6 #2Cb868
set $color14 #22ff71

# white
set $color7 #E0FFEF
set $color15 #DAEFD0

set $black $color0
set $white $color15
set $red $color1
set $lightred $color9

# class                 border  backgr. text    indicator child_border
client.focused          $black $black $lightred $red $black 
client.focused_inactive $black $black $white $black $black
client.unfocused        $black $black $white $black $black
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background $black

gaps outer 3
gaps inner 3
